<!DOCTYPE html>
<html>

<head>
    <title>Todoapp</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>

</head>

<body>
    <%= yield %>
</body>

</html>